.me{
    width: 200px;
    padding: 5px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.intro{
	width: 600px;
	margin: 0 auto;
}

.portfolio-item .caption{
  	display: none;
  }

.portfolio-item:hover .caption{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 128, 159, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .portfolio-item .caption .caption-content {
      color: #fff;
      margin: auto 5rem 5rem; }
      .portfolio-item .caption .caption-content h2 {
        font-size: 0.8rem;
        text-transform: uppercase; }
      .portfolio-item .caption .caption-content p {
        font-weight: 300;
        font-size: 1.2rem; }
  }